@model MyWebMVC.Models.InputModel

<form asp-action="Submit" method="post">
    <div>
        <label for="input">Enter Value:</label>
        <input type="text" id="input" name="InputValue" />
    </div>
    <button type="submit">Submit</button>
</form>